body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: green;
}

header p {
    font-size: 1.2rem;
    color: green;
}

#subdomains-section {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2rem;
    color: green;
    animation: fadeIn 1s ease-in-out;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
}

button:hover {
    background-color: darkgreen;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
